#fmEditMetadata .form-alf-wrapper {
	margin-left: 0 !important;
    width: auto !important;
	border-right: 0;
}
#fmEditMetadata .form-container .form-fields {
	margin-left:0;
}
#fmEditMetadata .fm-edit-metadata {
   width: auto !important;
}
#fmEditMetadata .form-alf-wrapper .frm_formName, .form-alf-wrapper .frm_desc {
    margin-left: 0px !important;
}
#saveMetadataBtn, #cancelMetadataBtn { display:none; }
.metadata-header {
    padding: 1.5em 0;
}
.frm_desc, .fld-tip { display:none; }
#my-frm .left .group label {
    float: left;
    width: auto !important;
	margin-right: 0.4em;
	padding-right: 8px;
}
#my-frm .left .group {
    width: 306px;
}
.group-tmp  {
	display:none;
}

#fmEditMetadata div.fmViewMode {
	clear: left;
    width: 100% !important;
}

#fmEditMetadata div.group {
    width: 100% !important;
}
.fm-associations h2 { 
	padding-bottom: 10px;
}
.fm-associations .assoc-item img { padding-right:10px;}
.doc-search-icon { 
	float: left;
    padding-bottom: 4px;
    padding-top: 3px;}